.books-index {
    background-color: #efefef;
    padding: 40px 0px 80px 0px; 
    .book-box {
        margin-top: 15px;
        text-align: center;
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        a {
            text-decoration: none;
            &:hover {
                color: darkmagenta;
            }
            h4 {
                margin-top: 10px;
                padding: 10px 0px;
                color: black;
                &:hover {
                    color: darkmagenta;
                }

            }
            img {
                height: 300px;
                &:hover {
                    box-shadow: 2px 2px 20px darkmagenta;
                }
            }
    
        }

    }
}