footer {
    background-color: #d3039e;
    .top-footer{
        background-color: #d3039e;
        color: white;
        .copy {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            &-text {
                color: white;
                margin-bottom: 0px;
            }
        }
        .navbar-social-ul {
            height: 40px;
            margin: 0px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            & li {
                margin-left: 10px;
                a {
                color: white;
                }
            }
        }
    }

}
